<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         name="Звездочёт"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            description="Астрологический процессор Звездочёт"
            name="kz.zvezdochet.runner">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/kz.zvezdochet.runner/css/default.css">
         </property>
         <property
               name="appName"
               value="kz.zvezdochet.runner">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="windowImages"
               value="icons/stargazer16.png,icons/stargazer32.png">
         </property>
      </product>
   </extension>

</plugin>
