<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         name="Звездочёт"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            description="Астрологический процессор Звездочёт"
            name="Звездочёт">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="appName"
               value="Звездочёт">
         </property>
         <property
               name="aboutImage"
               value="icons/message_info.gif">
         </property>
         <property
               name="windowImages"
               value="icons/stargazer16.png,icons/stargazer32.png">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="kz.zvezdochet.runner.WorkbenchPreferencePage"
            id="kz.zvezdochet.runner.page"
            name="Настройки">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="kz.zvezdochet.runner.AbstractPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
